body {
    background-color: #ccffeb;
}

div {
    width: 70%;
    margin: 2% auto;
}

table {
	margin: auto;
	border: 1px solid rgb(9, 204, 238);
	border-collapse: collapse;
}

caption {
	font-size: 30px;
    text-align: center;
    text-shadow: 3px 1px #96eaff, -3px -2px #96eaff;
    color:rgb(49, 49, 255);
}

th, td {
    text-align: center;    
    padding: 10px;
}

tr:nth-child(even) {
    background-color:#96eaff;
}

tr:nth-child(odd){
    background-color: rgb(30, 213, 226);
}